[submodule "packages/llm-core"]
	path = packages/llm-core
	url = https://github.com/Pranavraut033/llm-core
[submodule "packages/ats-checker"]
	path = packages/ats-checker
	url = https://github.com/Pranavraut033/ats-checker
